# Assignment 3 (Roll Num PIAIC 50763 (Zeshan Ali Batch 4 FSd))

## Lists , for loop and Conditional Statements

### Q1. Indexing
Write code for retriving values from list by indexing and `print` a statement message for given lists
```python
# Example 1
employee_data = ['Ali', 125000, 'Google', 5]
```
**output:** 'Ali is working in Google for 5 years and his salary is 125000'
```python
# Example 2
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
				'28 Januray 2020', '05 February 2020']
```
**output:
```
'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 January 2020.
Your classes will start from 05 February 2020.
Thanks'
```
**hint**: Use `list indexing` and `string format` methods

In [1]:
# Answer Q1
employee_data = ['Ali',125000,'Google',5]

msg = """{pName} is working  {company} for {pyears} and his salary is {psal}.""".format(pName = employee_data[0] , 
                                                                                        company= employee_data[1],
                                                                            pyears=employee_data[2], psal =employee_data[3])
print(msg)

Ali is working  125000 for Google and his salary is 5.

## Q 2. Slicing
You have a list of cities given as follows. Use positive and negative slicing methods to print out following outputs:
```python
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
```
```
Outputs:
(For positive slicing)
1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]
2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]
3. ["Sahiwal", "Rawalpindi", "Sialkot"]

(For negative slicing)
1. ['Quetta', 'Sahiwal', 'Rawalpindi']
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']
```

In [2]:
# Answer Q2

cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

# using positive index slicing
print (cities[0:4])
print (cities[2:6])
print(cities[5:8])

#using negative index slicing

print(cities[-4:-1])
print(cities[-5:])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']
['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

## Q:3. Update Lists
You have a list of student information. You need to update it for following statements
```python
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
```
Add values to this list using `append`
```
1. '20 February 2019'
2. 8
```
Use `insert` method to insert at specific index
```
1. 25000 at index 4
2. 'M. Iqbal' at index 1
```

Update list using list update method:
```
1. Change Name from 'Ali Raza' to 'Zohaib Ali'
2. Change No of subjects from 5 to 7
```
Remove values from list using `remove` method
```
1. 'Computer Science'
2. 91.24
```
Remove using `pop` method
```
1. Last value from list
2. value at 3rd index
```

In [6]:
# Answer Q 3 

studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

# Add values using append methode 

#studentData.append('20 Feb 2019')
#studentData.append(8)

 # Using `insert` method to insert at specific index
#
 #25000 at index 4
  #  'M. Iqbal' at index 1

studentData.insert(4,25000)
studentData.insert(1,'M.Iqbal')
print(studentData)

['Ali Raza', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture']

In [8]:
# update list using update Method 
# 1. Change Name from 'Ali Raza' to 'Zohaib Ali'
studentData[0] = 'Zohaib Ali'
# 2. Change No of subjects from 5 to 7
studentData[6] = 7

print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture']

In [9]:
#Remove values from list using `remove` method
 # 1.'Computer Science'
 # 3 2. 91.24
studentData.remove("Computer Science")
print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 91.24, 25000, 7, 'University of Agriculture']

In [13]:

#Remove using `pop` method
#1. Last value from list

#studentData.pop(6)
print(studentData)
#2. value at 3rd index
studentData.pop(2)
print(studentData)

['Zohaib Ali', 'M.Iqbal', 22, 91.24, 25000, 7]
['Zohaib Ali', 'M.Iqbal', 91.24, 25000, 7]

##  Q4. Multidimensional list tasks
You have given data of an employee
```python
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
```
#### For Loop
**Tasks**
```
1. Print name of employees with salaray greater than 50000.
2. Calculate total salary of all employees.
```
#### List update tasks
```
1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
2. Change salary of Khalid to 50000
```

In [17]:
# Answer Q4. 
# task 1 Print name of employees with salaray greater than 50000.
employeeData = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]
for emp in employeeData:
    if emp[1] > 50000:
        print(emp[0])

allemp_totoal_salary = 0 
for empp in employeeData:
    allemp_totoal_salary += empp[1]
    
print("totoal salary of all employees: ", allemp_totoal_salary)

Talha
Nasir
totoal salary of all employees 213000

In [23]:
#List update tasks
 # 1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
 

employeeData[2][1] = 90000
employeeData[2][2] = "Product Mmanager"
print(employeeData)

# 2. Change salary of Khalid to 50000
employeeData[3][1] = 50000
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Mmanager'], ['Khalid', 44000, 'DBA']]
[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Mmanager'], ['Khalid', 50000, 'DBA']]

### 5. Login User
You have given some users data. You have to write a script to check if username and password are correct. If `username` and `password` are correct. Then you have to check if email is verified or not. If it is verified then print `Login Succeed` else print `Email not verified`. If username or password are incorrect you have to print `Incorrect Login details`
```python
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True
```

In [ ]:
username = "faizan1214"
password = "qwerty"
if username=="faizan1214":
    if password == "qwerty":
        print("login successfull")
        print("Redirecting")
        
    else:
        print("wrong password")
else:
    print("invalid username")